<div id="editor-form">
    <form hx-post="/save" hx-target="#status">
        <input name="title" type="text" value="{{ doc.title }}" required placeholder="Document Title" />
        <input name="doc_id" id="doc_id" type="hidden" value="{{ doc.id }}" />
        
        <div class="control-group">
            <div class="button-group">
                <button type="button" data-action="bold">Bold</button>
                <button type="button" data-action="italic">Italic</button>
                <button type="button" data-action="underline">Underline</button>
                <button type="button" data-action="strike">Strike</button>
                <button type="button" data-action="code">Code</button>
                <button type="button" data-action="link">Link</button>
                <button type="button" data-action="h1">H1</button>
                <button type="button" data-action="h2">H2</button>
                <button type="button" data-action="h3">H3</button>
                <button type="button" data-action="bullet-list">Bullet list</button>
                <button type="button" data-action="ordered-list">Ordered list</button>
                <button type="button" data-action="code-block">Code block</button>
                <button type="button" data-action="blockquote">Blockquote</button>
                <button type="button" data-action="undo">Undo</button>
                <button type="button" data-action="redo">Redo</button>
            </div>
            <div class="editor-container" data-tiptap="" data-initial-html='{{ initial_content | tojson }}'></div>
        </div>
        
        <button id="save-btn" type="submit">Save</button>
        <button type="button" onclick="window.location.href='/'">New</button>
    </form>
</div>
